.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #283434;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#svgcontainer {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 5px 50px 10px 50px;
  background-color: whitesmoke;
}

h1 {
  font-weight: 800;
  color: #5a7388;
  font-size: 48px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin: 15px 0 10px 0;
}

svg {
  background-color: whitesmoke;
}

.country {
  stroke: #fff;
  fill:#005DAA;
}
.state:hover {
  fill: red;
  cursor: pointer;
}
.legend {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
  fill: #5a7388;
  text-anchor: middle;
  display: flex;
}
.legend-title {
  font-weight: 600;
  font-size: 14px;
}
.legend__item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend__item .legend__color {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.legend__label {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
  fill: #5a7388;
  text-anchor: middle;
}
